.userMenuMain {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.userMenuContainer {
  position: absolute;
  background-color: white;
  min-width: 230px;
  right: 90px;
  top: 65px;
  z-index: 999;
  border-radius: 9px;
}

.userMenuSection {
  padding: 20px 15px;
}

.userProfileSection {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-bottom: 10px;
}

.userImg {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60px;
}

.infoUserContainer h4 {
  font-size: 16px;
}

.infoUserContainer span {
  font-size: 14px;
}
.buttonSettingContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
}

.buttonSettingContainer:hover {
  background: rgb(219, 219, 219);
}

.hidden {
  display: none;
}
