.addListContainer {
  width: 550px;
  height: 40px;
  min-height: 35px;
  margin-bottom: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.7px);
}

.addListContainerform {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.addListContainerform input::placeholder {
  color: white;
  font-weight: 200;
}

.addListContainerform input {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
