.addListContainer {
  height: 45px;
  min-height: 35px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.7px);
  z-index: 999;
  color: black;
}

.addListContainerform {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.addListContainerform input::placeholder {
  color: var(--blackBackground);
  font-weight: 200;
}

.addListContainerform input {
  color: var(--blackBackground);
  font-weight: 400;
  font-size: 16px;
}