.TaskCardContainer {
  width: 300px;
  padding: 3px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 7px 7px;
  position: relative;
  max-height: 92%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*Importante estas propiedades para su correct*/
  background-color: var(--blackSecundary);

}

.taskCardSection {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.titleListSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  padding-bottom: 10px;

  /* background-color: aquamarine; */
}

.dotSettingButton {
  border-radius: 2px;
  z-index: 999;
}

/*Titulo de la Lista*/
.inputTextList {
  max-width: 220px;
  font-size: 1.1rem;
  font-weight: 500;
}

.inputTextList:focus {
  opacity: 0.7;
  border-bottom: white 1px solid;
}

.taskRenderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.taskRenderSection {
  /* background-color: hotpink; */
}

.addTaskInput {
  width: 100%;
  font-size: 0.9rem;
}

.addTaskInput:focus {
  opacity: 0.7;
  border-bottom: 1px solid white;
  width: 80%;
  /* El elemento ocupará el 50% del contenedor */
  box-sizing: border-box;
}

.addTaskInput::placeholder {
  color: white;
}

.addTaskSection {
  width: 100%;
  padding-top: 10px;
}

/*************************************************************/
/*******Estilos de la barra de desplazamiento*********/
/************************************************************/

.taskRenderContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.taskRenderContainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.taskRenderContainer::-webkit-scrollbar-button:increment,
.taskRenderContainer::-webkit-scrollbar-button {
  display: none;
}

.taskRenderContainer::-webkit-scrollbar-thumb {
  background-color: rgba(139, 145, 147, 0.45);
  border-radius: 20px;
  cursor: pointer;
}

.taskRenderContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}