.TaskCardContainer {
  width: 250px;
  padding: 3px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 7px 7px;
  cursor: grab;
  position: relative;
  max-height: 100%;
  /*Importante estas propiedades para su correct*/
}

.taskCardSection {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleListSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: aquamarine; */
}

.dotSettingButton {
  border-radius: 2px;
  z-index: 999;
}

/*Titulo de la Lista*/
.inputTextList {
  max-width: 210px;
  font-size: 1rem;
  font-weight: 500;
}

.taskRenderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  max-height: 100% !important;
}

.taskRenderSection {
  /* background-color: hotpink; */
}

.addTaskInput {
  width: 100%;
  font-size: 0.9rem;
}

.addTaskInput::placeholder {
  color: white;
}

.addTaskSection {
  width: 100%;
  padding-top: 10px;
}

/*************************************************************/
/*******Estilos de la barra de desplazamiento*********/
/************************************************************/

.taskRenderContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.taskRenderContainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.taskRenderContainer::-webkit-scrollbar-button:increment,
.taskRenderContainer::-webkit-scrollbar-button {
  display: none;
}

.taskRenderContainer::-webkit-scrollbar-thumb {
  background-color: rgba(139, 145, 147, 0.45);
  border-radius: 20px;
  cursor: pointer;
}

.taskRenderContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}
