.listSettingMain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  cursor: default;
}

.listSettingContainer {
  background-color: white;
  z-index: 9999;
  padding: 10px 0;
  backdrop-filter: blur(7px);
}

.listSettingContainer button {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.listSettingContainer button>span {
  margin-left: 5px;
  color: var(--blackNoir);
}

.listSettingContainer button:hover {
  background-color: rgb(237, 236, 236);
}

.hidden {
  display: none;
}