.TaskCardContainer {
  width: 250px;
  min-width: 180px;
  padding: 3px 12px 12px 12px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 10px 10px 10px;
  border-radius: 0 0 7px 7px;
  cursor: grab;
}

.titleListSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
}
.dotSettingButton {
  border-radius: 2px;
}
.dotSettingButton:hover {
  background-color: rgba(118, 118, 118, 0.71);

  border-radius: 2px;
}
.inputTextList {
  max-width: 210px;
  font-size: 1rem;
  font-weight: 500;
}

.taskListSectionForm {
  width: 100%;
  max-height: 130px;
  overflow: auto;
}

.taskListSectionForm::-webkit-scrollbar {
  -webkit-appearance: none;
}

.taskListSectionForm::-webkit-scrollbar:vertical {
  width: 10px;
}

.taskListSectionForm::-webkit-scrollbar-button:increment,
.taskListSectionForm::-webkit-scrollbar-button {
  display: none;
}

.taskListSectionForm::-webkit-scrollbar-thumb {
  background-color: #3a2f4eb9;
  border-radius: 20px;
  cursor: pointer;
}

.taskListSectionForm::-webkit-scrollbar-track {
  border-radius: 10px;
}

.addTaskInput {
  width: 100%;
  font-size: 0.9rem;
}

.addTaskSection {
  width: 100%;
  padding-top: 10px;
}
