.listSettingContainer {
  background-color: white;
  width: 100px;
  padding: 7px;
  position: absolute;
  right: -80px;
  top: 28px;
  z-index: 9000;
  border-radius: 4px;
}

.hidden {
  display: none;
}
