.ModalAddTaskBackdrop {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    position: fixed;
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ModalAddTaskContainer {
    width: 410px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    top: 0;
    left: 0;
    z-index: 999;
}

.hidden {
    display: none;
}