.taskContainer {
  display: flex;
  min-height: 35px;
  padding: 5px 0;
}

.taskContainer:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.taskSection {
  width: 100%;
}
.taskTitleSection {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inputTitleTask {
  width: 110px;
  font-size: .9rem;
}

.deleteTaskBtn {
  display: none;
}

.taskContainer:hover > .deleteTaskBtn {
  display: inline;
  color: white;
  cursor: pointer;
}
