.taskContainer {
  display: flex;
  min-height: 35px;
  padding: 5px 0;
  cursor: default !important;
}

.taskContainer:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.taskSection {
  width: 100%;
}
.taskTitleSection {
  width: 92%;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: default !important;
}

.dragButtonContainer {
  width: 20px;
  cursor: grab;
}
.dragButton {
  display: none;
}
.taskContainer:hover .dragButton {
  display: block;
}
.inputTitleTask {
  width: 150px;
  font-size: 0.9rem;
}

.deleteTaskBtn {
  display: none;
}

.taskContainer:hover > .deleteTaskBtn {
  display: inline;
  color: white;
  cursor: pointer;
}
