.bgDashboard {
  width: 100vw;
  max-width: 100%;
  background-color: #181818;
  min-height: 100vh;
}
.bgSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.HeaderContainer {
  width: 100%;
}

.sidebarContainer {
  width: 5%;
  justify-content: space-between;
  display: flex;
}
.appModuleContainer {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appGadgetsContainer {
  padding-top: 40px;
  width: 80vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.dropPomoContainer {
  display: flex;
  flex-direction: row;
}

.pomodoroContainer {
}

.TasksViewContainer {
  padding-top: 20px;
}
