.bgDashboard {
  width: 100vw;
  max-width: 100%;
  background-color: #181818;
  height: 100vh;
  max-height: 100%;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(2px);
}
.bgSection {
  width: 100%;
  display: flex;
  max-height: 100%;
  justify-content: center;
  flex-direction: row;
}

.HeaderContainer {
  width: 100%;
}
/* 
.sidebarContainer {
  width: 5%;
  justify-content: space-between;
  display: flex;
} */

.appModuleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.appGadgetsContainer {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropPomoContainer {
}

.pomodoroContainer {
}

.TasksViewContainer {
  padding-top: 20px;
}
