.headerContainer {
  max-width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSection {
  width: 95%;
  max-width: 1700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: solid .5px var(--greyFocus);
}

.elementsHeaderSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.searchBar {
  width: 350px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.textInput {
  width: 100%;
  color: gray;
  margin-left: 5px;
}

.userHeaderSection {
  display: flex;
  flex-direction: row;
}

.iconContainerImg {
  width: 40px;
  height: 40px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  width: 40px;
  height: 40px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.iconContainer:hover {
  background-color: var(--greyFocus)
}

.imgProfileContainer {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}