@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blackBackground: #13161C;
  --blackSecundary: #1E2229;
  --blackNoir: #0C0C0C;
  --greyFocus: #2D323A;
  --redMain: #D9212C,

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  color: white;
}

span {
  color: white;
}

input {
  background-color: transparent;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}



button {
  all: unset;
  cursor: pointer;
}



/*Scroll bar styles*/

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blackSecundary);
  border-radius: 20px;
  border: 1px solid var(--redMain);
}

body::-webkit-scrollbar-track {
  background-color: var(--blackBackground);
  /* Cambia esto por el color que prefieras */

}

html {
  scroll-behavior: smooth;
}