.selectThemeMain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.selectThemeContainer {
  width: 300px;
  background-color: rgb(228, 225, 225);
  position: absolute;
  top: 70px;
  left: 50px;
  z-index: 999;
  border-radius: 7px;
  padding: 20px 20px;
}

.selectThemeSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.customItemsSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.wallpaperBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.wallpaperImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.theme1 {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: white;
}

.theme2 {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: black;
}

.hidden {
  display: none;
}
