.mainTasksContainer {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dragControlContainer {
  height: 18px;
  width: 250px;
  border-radius: 7px 7px 0 0;
}

.mainTasksSection {
  width: 90%;
  border-radius: 9px;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.listSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 20px 0;
  cursor: context-menu !important;
}

.listContainer {
  overflow-x: auto;
  width: 100%;
  max-width: 1300px;
  display: flex;
}

.listContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.listContainer::-webkit-scrollbar:vertical {
  width: 8px;
}

.listContainer::-webkit-scrollbar-button:increment,
.listContainer::-webkit-scrollbar-button {
  display: none;
}

.listContainer::-webkit-scrollbar-thumb {
  background-color: rgba(106, 106, 112, 0.533);
  border-radius: 20px;
  cursor: pointer;
}

.listContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}
