.mainTasksContainer {
  width: 85%;
  max-width: 1700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  padding-bottom: 20px;
}

.mainTasksSection {
  width: 100%;
  border-radius: 9px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 150px;
  height: 100%; /*Importante!!!*/
  /*Nota: Un contenedor al ser Flex toma su ancho y alto completo de su padre*/
  /*Este es el contenedor transparentoso, su bgColor se le asigna en el archivo Js de este modulo*/
  box-sizing: border-box;
}

.listContainer {
  width: 100%;
  display: flex;
  /* background-color: beige; */
  height: 100%;
}

.listSection {
  overflow-x: scroll;
  width: 100%;
  display: flex;
  /* background-color: rgb(240, 131, 13); */
  height: 100%;
}

.listSectionItem {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
  cursor: context-menu !important;
  /* background-color: aliceblue; */
  height: 95%;
}

/******************/
/*Estilos para la Barra de desplazamiento*/
/*****************/

.listSection::-webkit-scrollbar {
  background-color: rgba(106, 106, 112, 0.433);
  border-radius: 20px;
  cursor: pointer;
}

.listSection::-webkit-scrollbar:vertical {
  width: 8px;
}

.listSection::-webkit-scrollbar-button:increment,
.listSection::-webkit-scrollbar-button {
  display: none;
}

.listSection::-webkit-scrollbar-thumb {
  background-color: rgba(106, 106, 112, 0.433); /* rgba(1, 1, 15, 0.4); */
  border-radius: 20px;
  cursor: pointer;
}

.listSection::-webkit-scrollbar-track {
  border-radius: 10px;
}

.dragControlContainer {
  display: flex;
  min-height: 18px;
  height: 18px;
  width: 300px;
  border-radius: 7px 7px 0 0;
}

.textListIfEmply {
  color: rgba(255, 255, 255, 0.502);
  font-weight: 200;
  font-size: 18px;
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
}
.textListIfEmply:hover {
  color: rgba(255, 255, 255, 0.802);
  font-size: 19px;
}
