.mainTasksContainer {
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dragControlContainer {
  height: 18px;
  width: 250px;
  border-radius: 7px 7px 0 0;
}

.mainTasksSection {
  height: 350px;
  padding: 40px 30px;
  border-radius: 9px;
  margin-top: 20px;
}

.listSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: context-menu !important;
}

.listContainer {
  overflow-x: auto;
  width: 1300px;
  display: flex;
  height: 360px;
}

.listContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.listContainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.listContainer::-webkit-scrollbar-button:increment,
.listContainer::-webkit-scrollbar-button {
  display: none;
}

.listContainer::-webkit-scrollbar-thumb {
  background-color: #0d021f8c;
  border-radius: 20px;
  cursor: pointer;
}

.listContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}
