.sidebarMain {
  width: 4vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
}

.sidebarSection {
  align-items: center;
  height: 100%;
  padding-bottom: 50%;
}

.navSection {
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}

.settingSection {
  height: 30%;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.iconContainer {
  max-width: 50px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* margin: 3px; */
}
