.settingMain {
  width: 100vw;
  height: 100vh;
  background-color: #3d3d3d6e;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 99;
}

.settingContainer {
  transition: 1s;
  position: relative;
  z-index: 999;
}
.settingSection {
  width: 380px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px 7px 0 0;
  padding: 25px;
}

.titleCloseSetting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(95, 95, 95, 0.622);
  margin-bottom: 5px;
  font-weight: 600;
}

.valuePomoSection {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.valuePomos {
  max-width: 90px;
}

.valuePomos p {
  font-size: 0.9rem;
  color: rgba(196, 196, 196, 0.996);
  font-weight: 600;
  padding: 10px 0 5px 0;
}
.valuePomos input {
  max-width: 100%;
  background-color: rgba(211, 211, 211, 0.41);
  border-radius: 5px;
  padding: 7px;
}

.soundSection {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.soundSection span {
  font-size: 1rem;
  font-weight: 600;
}

.soundSection select {
  max-width: 100%;
  background-color: rgba(211, 211, 211, 0.41);
  border-radius: 5px;
  padding: 7px;
  outline: none;
  border: 0;
}

.footerSettingSection {
  height: 60px;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
  background-color: rgba(233, 233, 233, 0.996);
}

.footerSettingSection button {
  color: white;
  background-color: rgb(44, 44, 50);
  width: 40px;
  height: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.573);
}

.hidden {
  display: none;
}
