.navPomodoroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 100%;
  padding-right: 20px;
}

.navPomoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.navText {
  font-size: 14px;
  font-weight: 500;
}

.activeNav {
  background-color: #636366;
}

.settingPomoButton {
  background-color: #636366;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}

.navItem {
  font-weight: 500;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 7px;
  font-size: 0.8rem;
}
