.pomodoroContainer {
  justify-content: center;
}

.pomoTimeContainer {
  font-size: 7.1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;

}

.focusWarrior {
  font-size: 0.9rem;
}

@media (max-height: 700px) {
  .pomoTimeContainer {
    font-size: 7.1rem;
  }
}